doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Yorkshire BSL Interpreters
    // Include Stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css')
    //link(rel='stylesheet', type='text/css', href='css/stylesheet.css')
    link(rel='stylesheet', type='text/css', href='css/interpreter-grid.css')
    // Javascipt
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript', src='https://www.google.com/jsapi')
  body
    .container
      .box
        // Open the container for the shadow
        .header
          // Open the header at the top of the page
          .banner
          nav.navbar.navbar-inverse
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') YBSLI
            #myNavbar.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='http://www.google.com') Home
                li
                  a(href='http://www.google.com') Interpreters
                li
                  a(href='http://www.google.com') Contact
                li
                  a(href='http://www.google.com') Qualifications
                li
                  a(href='http://www.google.com') Fees
                li
                  a(href='http://www.google.com') Infomation
                li
                  a(href='http://www.google.com') Links
        // Close the header Section
        .main
          // Open the main content Section
          .row
            .lcolumn.col-md-8
              h1  Yorkshire BSL Interpreters 
              p
                | Welcome to Yorkshire BSL Interpreters, This is the website for freelance British Sign Language (BSL) interpreters from the Yorkshire region. All the interpreters listed are fully qualified and work entirely on a freelance capacity. Please click on the Interpreters tab to contact us individually or collectively.
              p  Use the links to find out more about the services that we offer. 
            .rcolumn.col-md-4
              h2  About 
              p
                | This website is a quick and convenient way for you to contact qualified, registered British Sign Language interpreters who live locally.
              p
                | A simple one click button lets you send an email to all the interpreters listed saving you time and money.
        // Close the main content section
        .footer
          // Open the footer section
          .row
            .col-md-12
              p  Webdesign by Connor Wycherley 
        // Close the footer
      // Close the shadow box
    // Close Main container
