- var pageTitle =  "Yorkshire BSL Interpreters";
- var pageDescription = "Portal for BSL/English interpreting services";

doctype html
html
  head
    // Include Stylesheets
    include head.jade
  body
    .container
      .box
        include navigation.jade
        