- var pages = { "Home": "index.html", "Interpreters": "interpreters.html", "Contact": "contact.html","Qualifications": "qualifications.html", "Fees": "fees.html", "Information": "information.html", "Links": "links.html" }
.header
  .banner
  nav.navbar.navbar-ybsli
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') YBSLI
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        each url, page in pages
          if page==navTitle
            li.active
              a(href= url title= page)= page
          else 
            li
              a(href= url title= page)= page