.header
  .banner
  nav.navbar.navbar-ybsli
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') YBSLI
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='http://www.google.com') Home
        li
          a(href='http://www.google.com') Interpreters
        li
          a(href='http://www.google.com') Contact
        li
          a(href='http://www.google.com') Qualifications
        li
          a(href='http://www.google.com') Fees
        li
          a(href='http://www.google.com') Infomation
        li
          a(href='http://www.google.com') Links
