- var pageName          = "qualifications";
- var pageTitle         = "Yorkshire BSL Interpreters | Qualifications";
- var navTitle          = "Qualifications"
- var pageDescription   = "Portal for BSL/English interpreting services";
- var pageURL           = "qualifications.html";

doctype html
html
  head
    include head.jade
    body
      .container
        .box
          include navigation.jade
          .main
            .row
              .lcolumn.col-md-12
                include breadcrumb.jade
              .lcolumn.col-md-8
                h1 Qualifications
                p Interpreters listed on this website are fully qualified BSL/English Interpreters. RSLI after their name refers to a member of the Register of Sign Language Interpreters, held by the NRCPD (National Register of Communication Professionals working with Deaf and Deafblind People).
                p These interpreters have agreed to abide by a code of conduct and complaints procedure. They will have professional indemnity insurance and identification cards. RSLI’s will also have a current enhanced DBS certificate available for you to check. RSLI
                p MVLP refers to a member of Visual Language Professionals. Members carry an ID card which clearly states that they are qualified. VLP
                p MASLI refers to a Full Member of the Association of Sign Language Interpreters  ASLI.
                p *Qualifications are:
                ul
                  li Postgraduate qualification in BSL/English interpreting (PGDIP or MA)
                  li Signature Level 6 NVQ in Interpreting BSL/English (including Signature Level 4 NVQ BSL/English interpreting)
                  li CACDP RQI exam (pre NVQ)
              .rcolumn.col-md-4
                h2  About 
                p This website is a quick and convenient way for you to contact qualified, registered British Sign Language interpreters who live locally.
                p A simple one click button lets you send an email to all the interpreters listed saving you time and money.
          include footer.jade 
